// blue theme
$font-grey : #756F71;
$back-grey : #F1F0EE;
$font-orange : #fd8a61;
$light-grey : #f4f2f2; 

$white : #fff;

$pink : #e15782;
$red : #f00;
$yellow : #00F;

$linear-light-grey1 : #DBDBDB;
$linear-light-grey2 : #F6F6F6;

// 要压缩图片带的后缀
$img-css-sprite : "?__spriter";
// 使用图片的文件  上线的时候，使用img-min，非上线的时候使用min
//$imgfile : "img";
$imgfile : "img-min";