// display-block-dom
$display-block-font: h1 h2 h3 h4 h5 h6 p;

//green theme
$back-green: #18a89d !default;

//border
$border-grey-color: #ddd !default;

// font
$font-black: #444;


$white: #fff;
$black: #000;